.board {
    width: 50vw;
    height: 100%;
    background-color: red;
    display: grid;
    position: relative;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.tile {
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tile-light {
    background-color: #818ba1;
}
.tile-dark {
    background-color: #bac1b8;
}
.numbering {
    position: absolute;
    padding: 0px;
    margin: 0px;
    color: #2b303a;
    font-weight: 800;
    font-size: 15px;
}

.upper-number {
    left: 2px;
    top: 1px;
}

.lower-letter {
    right: 2px;
    bottom: -4px;
}
.piece {
    width : 75%;
    height: 75%;
    object-fit: contain;
    cursor: pointer;
}

.highlight {
    background-color: rgba(169, 169, 169, 0.6);
    width : 30%;
    height: 30%;
    position: absolute;
    border-radius: 20%;
}

.active {
    background-color: rgba(169, 169, 169, 0.6);
}