.board {
    width: 50vw;
    height: 100%;
    background-color: red;
    display: grid;
    position: relative;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
}
.tile {
    width: 100%;
    height: 100%;
    position: relative;
}
.tile-light {
    background-color: #818ba1;
}
.tile-dark {
    background-color: #bac1b8;
}
.numbering {
    position: absolute;
    padding: 0px;
    margin: 0px;
    color: #2b303a;
    font-weight: 800;
    font-size: 15px;
}

.upper-number {
    left: 2px;
    top: 1px;
}

.lower-letter {
    right: 2px;
    bottom: -4px;
}
