.game-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.board-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-top: 2px;
    height: 100%;
    gap: 0.8rem;
}
.info-container {
    height: 100%;
}
.info-container button {
    width: 100%;
    margin-bottom: 0.5rem;
}
.status {
    font-weight: 800;
}

.connected {
    color: #0c7c59;
}
.connecting {
    color: yellow;
}
.disconnected {
    color: #d64933;
}
